@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,700&display=swap");

:root {
  --padding: 30px;
  --border-radius: 30px;
  --padding-label: 3vh 20px;

  /* SELECTED OPTION */
  --selected: #2ac75c;
  --light-selected: #51f183;
  --dark-selected: #249347;

  /* FIRST OPTION */
  --first-option-color: #f452af;
  --first-option-light-color: #fd8fce;
  --first-option-darker-color: #f14297;

  /* SECOND OPTION */
  --second-option-color: #1575cf;
  --second-option-light-color: #61b3ff;
  --second-option-darker-color: #125ec1;

  /* THIRD OPTION */
  --third-option-color: #ff3f48;
  --third-option-light-color: #ff9a9f;
  --third-option-darker-color: #d01018;

  /* FORTH OPTION */
  --forth-option-color: #fe9301;
  --forth-option-light-color: #ffc87d;
  --forth-option-darker-color: #ff7600;
}

/* RESET DE LOS ESTILOS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.main-container {
  overflow-y: hidden;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--padding);
}

form {
  width: 100%;
}
.question-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question-text {
  padding: 20px;
}
.question-image {
  height: 180px;
}
.answer-section {
  width: 100%;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
li {
  list-style-type: none;
}
.radio {
  display: none;
}
.answer-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: var(--padding-label);
  border-radius: var(--border-radius);
  transition: all 0.4s ease;
}
.answer-label::before {
  content: "";
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 6px;
  left: 0;
  z-index: -10000;
}

/* OPTION COLORS */

section:nth-child(4n + 1) .answer-label {
  background-color: var(--first-option-color);
  box-shadow: 0 0 0 3px inset var(--first-option-light-color);
}
section :nth-child(4n + 1) .answer-label::before {
  background-color: var(--first-option-darker-color);
}

section :nth-child(4n + 2) .answer-label {
  background-color: var(--second-option-color);
  box-shadow: 0 0 0 3px inset var(--second-option-light-color);
}
section :nth-child(4n + 2) .answer-label::before {
  background-color: var(--second-option-darker-color);
}

section :nth-child(4n + 3) .answer-label {
  background-color: var(--third-option-color);
  box-shadow: 0 0 0 3px inset var(--third-option-light-color);
}
section :nth-child(4n + 3) .answer-label::before {
  background-color: var(--third-option-darker-color);
}

section :nth-child(4n + 4) .answer-label {
  background-color: var(--forth-option-color);
  box-shadow: 0 0 0 3px inset var(--forth-option-light-color);
}
section :nth-child(4n + 4) .answer-label::before {
  background-color: var(--forth-option-darker-color);
}

/* SELECTED OPTION */

.radio:checked + .answer-label {
  background-color: var(--selected);
  box-shadow: 0 0 0 3px var(--light-selected) inset;
}
.radio:checked + .answer-label::before {
  z-index: -10000;
  background-color: var(--dark-selected);
}
